<!-- eslint-disable @angular-eslint/template/i18n -->
<p i18n>about puppilot</p>
<p>
  <ng-container i18n>Document:</ng-container>
  <a href="https://puppilot.org">puppilot.org</a>
</p>
<p><ng-container i18n>version:</ng-container> {{ version }}</p>
<p>
  <ng-container i18n>Source Code:</ng-container>
  <a href="https://puppilot.org/Repositories.html" target="_blank"
    >Repositories</a
  >
</p>
<p>
  <ng-container i18n>Github Discussion:</ng-container>
  <a href="https://github.com/orgs/puppilot-org/discussions">puppilot-org</a>
</p>
<p><ng-container i18n>QQ group (Chinese speaking):</ng-container> 262748348</p>
<p>
  <ng-container i18n>Discord group (Multi-language):</ng-container>
  <a href="https://discord.com/invite/mtvnCjD52x" target="_blank">Discord</a>
</p>
