<!-- eslint-disable @angular-eslint/template/i18n -->
<p i18n>about puppilot</p>
<p>WIP</p>
<p><ng-container i18n>version:</ng-container> {{ version }}</p>
<p>
  <ng-container i18n>GitHub:</ng-container>
  <a href="https://github.com/puppolit/puppolit" target="_blank">puppilot</a>
</p>
<p><ng-container i18n>QQ group (Chinese speaking):</ng-container> 262748348</p>
<p>
  <ng-container i18n>Discord group (Multi-language):</ng-container>
  <a href="https://discord.com/invite/mtvnCjD52x" target="_blank">Discord</a>
</p>
