<mat-toolbar>
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon fontIcon="menu" />
  </button>
  <span class="spacer"></span>
  <span i18n>Right</span>
</mat-toolbar>

<mat-drawer-container class="drawer-container">
  <mat-drawer mode="side" #drawer opened>
    <mat-action-list>
      <button mat-list-item>Dashboard</button>
      <button mat-list-item>Market</button>
      <button mat-list-item>About</button>
    </mat-action-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="main">
      <h1>Hello</h1>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
