.routine__card {
  max-width: 40em;
  margin: 1em auto;
}

.routine__run-button-container {
  display: flex;
  max-width: 40em;
  margin: 1em auto;
}

.routine__run-button {
  margin-left: auto;
}

.routine__list-line {
  display: flex;
}

.routine__name {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.spacer {
  margin: 0 auto;
}
